.room-details-container {
    width: 26%;
    height: 100%;
    background: #f2f1f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid blue; */

    .room-avatar-name-created-description-box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */

        .room-details-nav {
            /* border: 1px solid red; */
            width: 100%;
            height: 75px;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
        }

        .room-overView-box {
            flex-grow: 1;
            width: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* border: 1px solid red; */

            .room-detil-item-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                /* border: 1px solid red; */
                width: 100%;

                .room-name {
                    font-size: 25px;
                    font-weight: 500;
                    color:rgba(19, 16, 16, 0.813)
                }
            }
        }

        .room-participants-box {
            /* border: 1px solid red; */
            height: calc(100% - 75px);
            display: flex;
            flex-direction: column;
            align-items: center;

            .search-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                align-self: center;
                height: 40px;
                width: 90%;
                background-color: #ffffff;
                box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
                border-radius: 5px;
                padding: 0 8px 0 8px;
                margin: 15px 0 15px 0;
                flex-shrink: 0;

                .search-input {
                    height: 100%;
                    width: 89%;
                    border: none;
                    outline: none;
                    caret-color: #48aafa;
                    font-size: 15px;
                    font-weight: 400;
                    /* color: #d8d7d9; */
                }
                .search-input::placeholder {
                    color: #d8d7d9;
                }

                .search-icon {
                    font-size: 30px;
                    color: #d8d7d9;
                }
            }

            .room-participants-list {
                /* border: 1px solid red; */
                display: flex;
                flex-direction: column;
                gap: 20px;
                list-style-type: none;
                padding-left: 0;
                width: 100%;
                margin: 0;
                overflow-y: auto;
                padding: 0 15px 5px 15px;
            }
        }

        .room-encryption-box {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            /* justify-content: center; */

            .room-encryption-icon {
                width: 80px;
                height: 80px;
                color: gray;
            }

            .encryption-description {
                font-size: 18px;
                color: gray;
            }

            .room-encryption-learn-more {
                align-self: flex-start;
            }
        }
    }
}
