.msg-item {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    max-width: 80%;
    user-select: text !important;

    .username-time-msg-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
        margin: 0;

        .username-time-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            margin: 0;
            color: #ababa6;
            font-size: 13px;
            font-weight: 400;

            .user-name {
                margin: 0;
            }

            .msg-time {
                margin: 0;
            }
        }

        .msg-text {
            margin: 0;
            background-color: #e9e3e9;
            padding: 6px 10px 6px 10px;
            border-radius: 0 6px 6px 6px;
        }
    }
}

.curr-user-msg-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    align-self: flex-end;
    max-width: 80%;

    .time-msg-box {
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: column;
        gap: 2px;

        .curr-user-msg-time {
            align-self: flex-end;
            margin: 0;
            color: #ababa6;
            font-size: 14px;
            font-weight: 400;
        }

        .curr-user-msg-text {
            margin: 0;
            align-self: flex-end;
            background-color: #48aafa;
            padding: 6px 10px 6px 10px;
            border-radius: 6px 0 6px 6px;
            color: #fff;
        }
    }
}
