.app-logo-box {
    height: 75px;
    padding: 0 10px 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    /* border: 1px solid red; */

    .app-logo {
        width: 60px;
    }

    .app-name {
        font-size: 25px;
        margin: 0;
        font-weight: 500;
        background-image: linear-gradient(to right, red, blue, green, yellow);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }

    .new-room-create-box {
        width: 300px;
        height: 300px;
    }
}
