.profile-box {
    height: 75px;
    flex-shrink: 0;
    padding: 0 10px;
    box-shadow: rgba(29, 29, 40, 0.05) 0px 1px 0px, rgba(33, 33, 47, 0.1) 0px 0px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .profile-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;

        .user-name {
            font-size: 20px;
            font-weight: 500;
            color: #48aafa;
        }
    }

    .profile-drawer-box {
        padding: 15px;
    }
}

.logout-dialog {
    background-color: #fff;
    box-sizing: border-box;
    height: 160px;
    width: 320px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 10px;
    outline: none;
    display: flex;
    flex-direction: column;
}

.are-you-sure-text {
    font-size: 22px;
    color: #392a42;
    font-weight: 500;
    text-align: center;
    margin: "0px";
    margin-bottom: 15px;
}

.buttons-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}

.btn {
    height: 35px;
    width: 110px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
}

.cancel {
    border: 1px solid #3fbf43;
    color: #3fbf43;
    transition: 0.4s ease-in-out;
}

.delete {
    border: 1px solid #f52f42;
    color: #f52f42;
    transition: 0.4s ease-in-out;
}

.cancel:hover {
    background-color: #3fbf43;
    color: #fff;
    transition: 0.4s ease-in-out;
}

.delete:hover {
    background-color: #f52f42;
    color: #fff;
    transition: 0.4s ease-in-out;
}
