.profile-box {
    height: 75px;
    flex-shrink: 0;
    padding: 0 10px;
    box-shadow: rgba(29, 29, 40, 0.05) 0px 1px 0px, rgba(33, 33, 47, 0.1) 0px 0px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .profile-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;

        .user-name {
            font-size: 20px;
            font-weight: 500;
            color: #48aafa;
        }
    }

    .profile-drawer-box {
        padding: 15px;
    }
}
